<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>style</title>
    <link rel="stylesheet" href="index.css">
</head>
<header class="header">
    <div class="header-content">
        <img src="Images/Logo.png" alt="Logo" class="logo">
        <div class="text-content">
            <h2>Deixe a correria para o Papai Noel,<br> organize tudo com o SleighList.</h2>
        </div>
    </div>
</header>


<body>
    <main class="container">
        <form>
            <h1>Acesse sua conta </h1>
            <div class="input-box">
                <input placeholder="Email   " type="email">
                <i class="bx bxs-user"></i>

            </div>
            <div class="input-box">
                <input placeholder="Senha" type="password">
                <i class="bx bxs-lock-alt"></i>
            </div>

            <div class="remember-forgot">
                <a href="#">Esqueci minha senha</a>
            </div>
            <button class="Login" type="submit">Login</button>
        </form>
    </main>
    <footer>
        © 2024 - SEDUC - Agenda Nata
    </footer>

</body>

</html>