.divLeft {
    width: 49.5%;
    height: 949px;
    float: left;
    position: relative;
}

#spaceText {
    padding-right: 16px;
}

header div img {
    max-width: fit-content;
    height: 650px;
}

h1 {
    color: white;
}

.textDiv{
   position: left;
   top: 0;
   left: 0;
   
   /*cor apenas para exmplo*/
   color: #fff;
}