<body>   
<header>
    <img class="img_banner" src="\Images\Group 25.png">
    
    <div class="textDiv">
        <h1><i id="spaceText" class=""></i>Deixe a correria para o Papai Noel, organize tudo com o SleighList.</h1>
    </div>
</header>


<main>
    <article class="bk-login">
        <div class="form-box">
            <h2>Acesse Sua Conta</h2>
            <form class="formulario" style="width: 60%; display: flex; flex-direction: column;" method="post"
                action="@Url.Action("Logar")">
                <label class="frm-label" for="email">E-mail</label>
                <input type="email" id="email" class="frm-input" placeholder="email@alunosenai.com" name="Email">

                <label class="frm-label" for="senha">Senha</label>
                <input type="password" name="Senha" id="senha" class="frm-input" placeholder="*******">

                <a href="#" class="esqueci-senha">Esqueci minha senha</a>
                <button type="submit" class="btn-entrar">Entrar</button>
            </form>
        </div>

    </article>
</main>
<footer>
    <p>© 2024 - SEDUC - Agenda Natal</p>
</footer>
</body>